@import url("http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=latin");
* {
  border: 0;
  outline: 0;
  box-model: border-box; }

p {
  color: #666;
  font-size: 20px; }

body {
  color: #b7c0c7;
  font-size: 20px;
  background-color: #ddd;
  font-family: 'Roboto Condensed'; }

.panel {
  position: relative;
  width: 850px;
  height: auto;
  margin: 0 auto; }

.input-file-container {
  position: relative;
  margin: 0 auto;
  text-align: center;
  height: auto;
  width: 350px; }

.addInputFile, #addInputFileForm {
  position: relative;
  display: block; }

#inputBox {
  position: relative;
  width: 100%;
  display: block;
  height: 150px;
  margin-bottom: 15px; }

#inputBox:after {
  position: absolute;
  width: 350px;
  content: "Upload your file";
  left: 0;
  right: 0;
  padding: 50px 0;
  text-align: center;
  border-radius: 10px;
  border: 5px dashed #ccc;
  color: #ccc;
  font-size: 30px; }

#inputBox:hover:after {
  background: #ccc;
  color: #fff;
  cursor: pointer; }

#inputBox input#inputFile {
  width: 0px;
  height: 0px; }

article {
  margin: 0 auto;
  position: relative;
  display: block; }

p.rootTitle {
  font-size: 36px;
  line-height: 42px;
  font-weight: 700; }

.pane {
  display: block;
  overflow: hidden;
  transition: all .4s ease;
  border-bottom: 1px solid #b7c0c7; }
  .pane .inner {
    margin: 0 auto; }
    .pane .inner h1 {
      margin: 10px;
      font-weight: 600;
      position: relative;
      display: block;
      height: 35px; }
      .pane .inner h1 span {
        position: absolute; }
      .pane .inner h1 .subchildrenCounter {
        right: 0; }
    .pane .inner .subchildrenWrapper {
      clear: both;
      display: block; }
      .pane .inner .subchildrenWrapper .subchildren {
        background-color: white;
        clear: both;
        border-bottom: 1px solid #ddd;
        min-height: 50px;
        width: 100%;
        overflow: hidden;
        position: relative; }
        .pane .inner .subchildrenWrapper .subchildren .subchildrenText {
          width: 775px;
          padding: 5px;
          margin: 7px;
          font-size: 20px;
          color: #2c3e50;
          vertical-align: middle;
          min-height: 20px;
          height: auto;
          background-color: white; }
        .pane .inner .subchildrenWrapper .subchildren .subchildrenPanel {
          width: 50px;
          right: 0;
          margin-top: 20px;
          vertical-align: middle;
          min-height: 1px;
          height: auto;
          position: absolute;
          top: 0; }
          .pane .inner .subchildrenWrapper .subchildren .subchildrenPanel > i {
            font-size: 20px;
            margin-right: 5px;
            color: #b7c0c7; }
            .pane .inner .subchildrenWrapper .subchildren .subchildrenPanel > i:hover {
              cursor: pointer; }
          .pane .inner .subchildrenWrapper .subchildren .subchildrenPanel .fa {
            display: inline-block;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            transform: translate(0, 0); }
          .pane .inner .subchildrenWrapper .subchildren .subchildrenPanel .edit:hover {
            color: #838cc7; }
          .pane .inner .subchildrenWrapper .subchildren .subchildrenPanel .delete:hover {
            color: #e15258; }
          .pane .inner .subchildrenWrapper .subchildren .subchildrenPanel .save:hover {
            color: #51b46d; }
  .pane.active {
    max-height: 100%; }
  .pane:not(.active) {
    transition: all .4s ease;
    max-height: 50px; }

.active {
  transition: all .4s ease;
  overflow: visible !important; }

.editable {
  background-color: #fff2a8 !important; }

.dashed {
  border: 1px dashed #BFBFBF; }

.generalContent {
  border: 1px solid #b7c0c7;
  border-radius: 5px; }
  .generalContent:last-child {
    border-bottom: none; }

.adding-panel {
  visibility: hidden;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  .adding-panel .adding-wrapper {
    position: absolute;
    width: 600px;
    height: 600px;
    background: #fff;
    top: 50%;
    border-radius: 5px;
    left: 0;
    text-align: center;
    box-shadow: 0 0 10px 0 #000; }

.close-btn {
  background-color: black !important; }

.adding-btn {
  visibility: hidden;
  position: fixed;
  bottom: 30px;
  width: 50px;
  z-index: 999;
  height: 50px;
  border-radius: 50%;
  background-color: #22A7F0; }
  .adding-btn .add, .adding-btn .close {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    line-height: 50px;
    color: white; }
    .adding-btn .add:before, .adding-btn .close:before {
      margin: 0 auto;
      text-align: center; }

.export-panel {
  visibility: hidden;
  display: none;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px; }

.export-panel input {
  background: #26A65B;
  color: #fff;
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center; }

.addchooser, .addForms {
  display: block; }

.addchooser input {
  line-height: 50px;
  border-radius: 5px;
  background-color: #F44336;
  color: #fff;
  cursor: pointer;
  min-width: 100px; }

.addForms {
  position: relative; }

.addingForm-lv1, .addingForm-lv2 {
  visibility: hidden;
  margin-top: 20px;
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  height: 250px; }

#level1Name {
  width: 150px;
  background: #ddd;
  display: inline-block;
  padding: 0 10px;
  border-radius: 5px;
  border: 1px dashed #888;
  color: #666;
  font-size: 25px;
  margin: 10px 0;
  line-height: 45px; }

#level2Obj {
  border-radius: 5px;
  display: block;
  background: #ddd;
  border: 1px solid #888;
  margin: 0 auto;
  width: 395px;
  height: 100px; }

.addBtn {
  margin-top: 20px; }

.addBtn input {
  background: #26A65B;
  color: #fff;
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px; }

#lv1 {
  display: block;
  margin: 0 auto 10px;
  color: #fff;
  font-size: inherit;
  padding: .5em;
  padding-right: 2.5em;
  border: 0;
  background: #2980b9;
  border-radius: 3px;
  text-indent: 0.01px; }

.bg-color1 {
  color: #DC3023; }
.bg-color2 {
  color: #C93756; }
.bg-color3 {
  color: #875F9A; }
.bg-color4 {
  color: #22A7F0; }
.bg-color5 {
  color: #1F4788; }
.bg-color6 {
  color: #26A65B; }
.bg-color7 {
  color: #8DB255; }
.bg-color8 {
  color: #F3C13A; }

/*# sourceMappingURL=style.css.map */
