// Imports 
@import url('http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=latin');


// Global variables

$background: #ddd;
$grey: #666;
$grey-light: #b7c0c7;

$redOrange:         #DC3023;
$mediumCrimson:     #C93756;
$wisteriaPurple:    #875F9A;
$pictonBlue:        #22A7F0;
$lapisLazuliColor:  #1F4788;
$siskinSprout:      #7A942E;
$youngGreenOnion:   #8DB255;
$eucalyptus:        #26A65B;
$amurCorkTree:      #F3C13A;
$silver:            #BFBFBF;
$ruby:              #e15258;
$bussiness:         #f9845b;
$WordPress:         #838cc7;
$iOS:               #53bbb4;

$palette: (
  '1': $redOrange,
  '2': $mediumCrimson,
  '3': $wisteriaPurple,
  '4': $pictonBlue,
  '5': $lapisLazuliColor,
  '6': $eucalyptus,
  '7': $youngGreenOnion,
  '8': $amurCorkTree
);

// Global styles
* {border:0;outline:0; box-model: border-box;}

p{
	color: $grey;
	font-size: 20px;
}
body{
	color: $grey-light;
	font: 20px/1.5;
  background-color: $background;
  font-family: 'Roboto Condensed';
}

// Panels

.panel{
	position: relative;
	width: 80%;
	height: auto;
	margin: 0 auto;
	
}

// Top-Panel
.input-file-container {
  position: relative;
  margin: 0 auto;
  text-align: center;
  height: auto;
  width:350px;
}

.addInputFile, #addInputFileForm{
	position: relative;
	display: block;
}

#inputBox{
	position: relative;
	width: 100%;
	display: block;
	height: 150px;
	margin-bottom: 15px;
}

#inputBox:after{
	position:absolute;
  width:350px;
  content:"Upload your file";
  left:0;
  right:0;
  padding: 50px 0;
  text-align:center;
  border-radius:10px;
  border:5px dashed #ccc;
  color:#ccc;
  font-size:30px; 
}

#inputBox:hover:after {
  background:#ccc;
  color:#fff;
  cursor:pointer;
}

#inputBox input#inputFile {
    width: 0px;
    height: 0px;
}

// Content Panel
article {
  
  margin: 0 auto;
  position: relative;
  display: block;
}

p.rootTitle{
  font-size: 36px;
  line-height: 42px;
  font-weight: 700;
}

.pane {
  display: block;
  overflow: hidden;
  transition: all .4s ease;
  border-bottom: 1px solid $grey-light;
  
  
  .inner{
    margin: 0 auto;
    
    h1{
      margin: 10px;
      font-weight: 600;
      position: relative;
      display: block;
      height: 35px;

      span{
        position: absolute;
      }

      .subchildrenCounter{
        right: 0;
      }
    }

    .subchildrenWrapper{
      clear: both;
      display: block;

      .subchildren{
        background-color: white;
        padding: 5px;
        border-bottom: 1px solid #ddd;
        min-height: 50px;
        display: block;
        vertical-align: middle;
      }
    }
  } 

  
  
  &.active {
    max-height: 100%;
  }
  
  &:not(.active) {
    transition: all .4s ease;
    max-height: 50px;
  }
  
  

}

.active {
  transition: all .4s ease;
  overflow: visible !important;
}

.generalContent{
  border: 1px solid $grey-light;
  border-radius: 5px;

  &:last-child{
    border-bottom: none;
  }
}

// Setting Tags bg-colors

@mixin map-to-class($map, $property, $sel, $divider: '') {
    $sel: if($sel == '' and &, &, $sel);
    @debug $sel;

    #{$sel} {
        @each $k, $v in $map {
            @at-root #{$sel}#{$divider}#{$k} {
                @if type-of($v) == map {
                    @include map-to-class($v, $property, '', $divider) {
                        @content;
                    }
                } @else {
                    #{$property}: $v;
                }
            }
        }
    }
}

@include map-to-class($palette, color, '.bg-color', '');


